<div class="home-top">
<div class="container">
	<h1>Page 1</h1>
	<p>Find me in app/views/home/index.html.erb</p>
</div>
</div>

<div class="home-middle">
<div class="container">
	<h1>Page 2</h1>
	<p>Find me in app/views/home/index.html.erb</p>
</div>
</div>